{% extends 'base.html' %}
{% load static %}

{% block title %}
  Iniciar Sesión - SAFE
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock %}

{% block content %}
  <div class="shell">
    <div class="card login-card">
      
      <header class="top">
        <img class="logo" src="{% static 'img/safe_logo.jpeg' %}" alt="SAFE" />
        <div>
          <p class="subtitle">Sistema Académico de Formación Empresarial</p>
        </div>
      </header>

      <form method="post" action="{% url 'log' %}">
        {% csrf_token %}

        <label for="email" class="label">Correo</label>
        <input id="email" name="email" placeholder="tucorreo@empresa.com" required type="email" class="input" />

        <label for="password" class="label mt">Contraseña</label>
        <input id="password" name="password" placeholder="********" required type="password" class="input" />

        <div class="error-container">
          {% if messages %}
            {% for message in messages %}
              <span class="error-text">{{ message }}</span>
            {% endfor %}
          {% endif %}
          {% if error_login %}
            <span class="error-text">{{ error_login }}</span>
          {% endif %}
          {% if error_msg %}
            <span class="error-text">{{ error_msg }}</span>
          {% endif %}
        </div>

        <div class="actions column-actions">
          <button class="btn btn-gold btn-full">Iniciar sesión</button>
        </div>

        

      </form>
    </div>
  </div>
{% endblock %}
